@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(https://fonts.googleapis.com/css?family=Oswald);

.booyah-box {
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
	-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
	box-shadow: 1px 1px 2px 0 #d0d0d0;
	background: #fff;
	border: 1px solid #ccc;
	border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 20px;

}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding-bottom: 10px;
	font-family: 'Oswald', sans-serif;
}
body {
	background: url('/assets/swirl_pattern.png');
	font-family: 'Libre Baskerville', serif;
	}
.navbar.navbar-inverse {
	border-radius: 0;
	box-shadow: 0px 1px 3px #2a2a2a;
}
.navbar-inverse .navbar-brand {
	color: #FF9627;
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	
}
.pages {
	text-align: center;
	color: #FF9627;
	font-size: 20px;
}